
@font-face { font-family: 'NanumBarunGothic'; src: url('/fonts/NanumBarunGothic.eot'); src: url('/fonts/NanumBarunGothic.eot') format('embedded-opentype'), url('/fonts/NanumBarunGothic.woff') format('woff');}



#toolbar {
    box-shadow: 0px 5px 20px -15px;
    position : fixed; left : 150px; top : -13px;
    padding : 20px;
    display: block;
    width: 80%;
    text-align : right;
    z-index: 1;

    box-shadow: 0px 5px 10px -10px;
    background-color :rgb(244, 244, 255);
    border-radius:15px;
    
}

#toolbar-button-wrapper {
    margin-right : 300px;
}

.homebutton {
    padding : 5px;
    padding-left : 10px;
    padding-right : 10px;
    margin-top :10px;
    border-radius:15px;
    background-color: rgb(248, 215, 243);
    color: rgba(0, 0, 0, 0.705);
}

#side-profile {
    border: 3px solid black;
    width : 250px;
    position : fixed; top : 45px; left: 230px;



    padding-top : 50px;
    padding-bottom : 50px;
    text-align : center;
    margin-top : 58px;
    box-shadow: 5px 5px 15px -10px;
    background-color :rgb(244, 244, 255);
    border: 0px solid rgb(177, 177, 223);
    border-radius:15px;
}

.profileimage-block {
    box-sizing: border-box;
    border : 0px solid black;
    border-radius : 70%;
    overflow : hidden;
    width : 150px;
    height : 150px;
    margin-left : 50px;
}

#present-user-image {
    width : 100%;
    height : 100%;
    object-fit: cover;
}

#present-username {
    text-align : center;
    padding :30px;
}

#whole-wrapper {
    border: 0px solid red;
    width : 800px;
    margin: 0px auto;
    text-align: right;
    margin-top: 80px;
}
.wrapper {
    border : 0px solid black;
    text-align : left;
}
#input-box {
    padding-left : 80px;
    padding-right : 80px;
    padding-top : 20px;
    padding-bottom : 20px;
    margin-top : 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px -10px;
    background-color :rgb(244, 244, 255);
    border: 0px solid rgb(177, 177, 223);
    border-radius:15px;
}
.replybox {
    box-sizing: border-box;
    box-shadow: 5px 5px 15px -10px;
    background-color :rgb(244, 244, 255);
    border: 0px solid rgb(177, 177, 223);
    border-radius:15px;
    padding: 23px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top : 20px;
}
.replyContent {
    width : 700px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#textbox-wrapper{
    border: 1px solid rgb(245, 197, 238);
    background-color: white;
    box-sizing: border-box;
    padding-left : 5px;
    padding-right : 5px;
    margin-top : 5px;
    border-radius:15px;
}

#inputText {
    border: 0px; 
    resize : none; 
    position : relative; top : 20px; 
    background-color: transparent;
}

#textSubmit{
    width : 60px;
    height : 80px;
    border: 0px solid skyblue;
    background-color: rgb(142, 187, 255);
    color: white;
    position : relative; bottom : 15px;
    border-radius:15px;


}

#inputUsername {
    color:gray;
    border : 1px solid rgb(245, 197, 238);
    border-radius:15p;
}

.output-content {
    margin-top:30px;
    text-align: left;
    width: 680px;
}

.outputbox-button {
        padding : 5px;
        padding-left : 10px;
        padding-right : 10px;
        border-radius:15px;
        background-color: rgb(248, 215, 243);
        color: rgba(0, 0, 0, 0.705)
}

.replyName {
    border: transparent;
}
